<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="server=192.168.0.118;uid=sa;pwd=chuangyou;database=CY" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
        <binding name="SRUSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SRUSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.chuangyour.com/API/S1.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap"
        name="ServiceSoap1" />
      <endpoint address="http://www.chuangyour.com/en/API/S1.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="ServiceReference2.ServiceSoap" name="ServiceSoap" />
    
      <endpoint address="http://www.chuangyour.ru/API/SRU.asmx" binding="basicHttpBinding"
        bindingConfiguration="SRUSoap" contract="ServiceReference3.SRUSoap"
        name="SRUSoap" />
     
    </client>
  </system.serviceModel>
</configuration>
