<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="server=192.168.0.118;uid=sa;pwd=chuangyou;database=CY" />
    <add name="CY.Properties.Settings.CYConnectionString" connectionString="Data Source=192.168.0.118;Initial Catalog=CY;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExpressSoap" closeTimeout="00:05:00" openTimeout="00:05:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SRUSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://688664.ichengyun.net/express_9199/Express.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExpressSoap"
        contract="ServiceReference5.ExpressSoap" name="ExpressSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CY.Properties.Settings>
      <setting name="CY_exp_Express" serializeAs="String">
        <value>http://webservice.ea-ex.com/express.asmx</value>
      </setting>
    </CY.Properties.Settings>
  </applicationSettings>
</configuration>
